.stockOut{
    width: 100%;
    background: rgba(248, 246, 246, 0.781);
}
.stockIn{
    width: 100%;
    background: rgba(248, 246, 246, 0.781);
}
.stockOut header{
    background: #f3f3f3;
}
.stockIn header{
    background: #f3f3f3;
}

.stock-top{
    width: 85%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stock-top-left{
    display: flex;
    align-items: center;
}
.stock-top-left-mark{
    height: 25px;
    border: 2px solid #1ABC9C;
    margin-right: 5px;
}
.stock-top-right{
    height: 30px;
    width: 80px;
    background: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}
.stock-top-right:hover{
    background: #f3f3f3;
}
.stock-top-word{
    margin: 0;
}

.stockOut section{
    width: 85%;
    margin: 20px auto;
}
.stockIn section{
    width: 85%;
    margin: 20px auto;
}
.screen{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.screen .left{
    margin-left: 20px;
}
.screen .right{
    display: flex;
}
.screen div{
    height: 30px;
    line-height: 30px;
}
.searchResult{
    width: 80px;
    background: white;
    margin: 0 20px;
    border: 1px solid #ccc;
    text-align: center;
}
.searchResult:hover{
    background: #f3f3f3;
}

.search{
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.dataList{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dataList .left{
    margin-left: 20px;
}
.dataList .right{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.dataList button{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
.dataList button:hover{
    background-color: #f3f3f3;
    border: 1px solid #ccc;
}
.dataList .select{
    margin-left: 10px;
}
.dataList .add{
    background-color: rgb(49, 183, 236);
    color: white;
    border: none;
}
.table{
    width: 85%;
    margin: 0 auto;
}
#table{
    font-size: 12px;
}
#table .tableHandle{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(26, 188, 156);
}
#table .tableHandle>span{
    cursor: pointer;
}