.condition2{
    height:100px;
    justify-content: start;
    flex-wrap: wrap;
    border:1px solid #eee;
}
.condition3{
    height:auto;
    padding:10px 0 10px 0;
    justify-content: start;
    flex-wrap: wrap;
}
.bianju{
    margin-left:30px; 
}
.bianju3{
    margin-left:30px;
    width:200px; 
}
.bianju2{
    margin-left:94px;
}
.line-height{
    line-height: auto;
}
.query-title2{
    width:80%；
}
.quire2{
    width:95%;
    margin:auto;
    margin-top:12px;
    border: 1px solid #eee;
  
 }
 .quire3{
    width:80%;
    margin:auto;
    margin-top:12px;
    height:auto;
    border:1px solid #eee;
 }
