*{
    box-sizing: border-box;
}

.top{
    height:48px;
    background: #eee;
    padding-left: 10%;
    line-height: 48px;
}
.top-title{
    float:left
}
.quire{
   width:80%;
   margin:auto;
   margin-top:12px;
}
.quire-title{
    height:38px;
    background: #eee;
    border:1px solid ;
    line-height: 38px;;
    padding-left: 12px;
}
.condition{
   height: 60px;
   background: white;
   border:1px solid ;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.xiaoshou{
    width:150px;
    height:28px;
}
.table{
    width:80%;
    margin:auto;
    margin-top:12px;
}
.list{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #ccc;
}
a{
    color:black
}
