.comclass,.cominfo{
    background: #f6f7f9;
    padding-bottom: 60px;
}
.comclass-table{
    width: 85%;
    margin: 20px auto;
    border: 1px solid #e4e4e4;
}
.comclass-table-top{
    background: #f3f3f3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
}
/* 商品信息样式 */
.filter-item{
    width: 25%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.purchase-result:hover{
    background: #f2f2f2;
    cursor:pointer;
}
.ant-btn-primary{
    background: #1ABC9C;
}
.ant-btn-primary:hover{
    background: #64BC9C;
}
.ant-modal-body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.modal-item{
    width: 60%;
    margin:20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comclass-right-title{
    display: flex;
    justify-content: space-evenly;
}
.comclass-right-title>div{
    margin: 0 10px;
}
.tianjiagoods{
    background: #169BD5;
    color: white;
}
.daoDiv{
    background: white;
    color: black;
}
.addDiv:hover{
    background: #f2f2f2;
}
.allGoodsBtn{
    height: 50px;
    width: 85%;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
}
.allBtn{
    height: 30px;
    width: 100px;
    border: 1px solid #e4e4e4;
    text-align: center;
    line-height: 30px;
    margin-right: 20px ;
    background: white;
}
.allBtn:hover{
    cursor: pointer;
    color: #1ABC9C;
}
.jiesuo{
    color: red;
}
/* 类 tab */
.TabActive{
    background: #1ABC9C;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    margin-right: 20px ;
}